<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="https://obscure-bayou-17895.herokuapp.com/">PEDDI TARAKA RAVITEJA</a></li>
      <li><a href="https://shielded-woodland-82405.herokuapp.com/">DURGA PRASAD</a></li>
      <li><a href="">SRIKANTH YELAMTI</a></li>