<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>E-COMMERCE BUSINESS</h1>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/customer">http://localhost:8089/customer</a>
        </li>
       <li>
          <a href="http://localhost:8089/order">http://localhost:8089/order</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderline">http://localhost:8089/orderline</a>
        </li>
        <li>
          <a href="http://localhost:8089/product">http://localhost:8089/product</a>
        </li>

        <li>
          <a href="http://localhost:8089/customer/create">http://localhost:8089/customer</a>
        </li>
        <li>
          <a href="http://localhost:8089/customer/create">http://localhost:8089/order</a>
        </li>
       <!---- <li>
          <a href="http://localhost:8089/puppy/edit/2">http://localhost:8089/puppy/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/edit/3">http://localhost:8089/puppy/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/puppy/delete/1">http://localhost:8089/puppy/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/delete/2">http://localhost:8089/puppy/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/delete/3">http://localhost:8089/puppy/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/puppy/details/1">http://localhost:8089/puppy/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/details/2">http://localhost:8089/puppy/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/details/3">http://localhost:8089/puppy/details/3</a>
        </li>
      -->
      </ol>
      <br/>
      <h4>GET JSON Customer</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/customer/findall">http://localhost:8089/customer/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/customer/findone/1">http://localhost:8089/customer/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/customer/findone/2">http://localhost:8089/customer/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/customer/findone/3">http://localhost:8089/customer/findone/3</a>
        </li>
      

      </ol>
      <h4>GET JSON Order</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
        </li>

      </ol>
      <h4>GET JSON Orderline</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/orderline/findall">http://localhost:8089/orderline/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderline/findone/1">http://localhost:8089/orderline/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderline/findone/2">http://localhost:8089/orderline/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderline/findone/3">http://localhost:8089/orderline/findone/3</a>
        </li>

      </ol>
      <h4>GET JSON Product</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/product/findall">http://localhost:8089/product/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/product/findone/1">http://localhost:8089/product/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/product/findone/2">http://localhost:8089/product/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/product/findone/3">http://localhost:8089/product/findone/3</a>
        </li>

      </ol>


    </div>
  </div>
</div>